* {
 margin:0;
 text-decoration: none; 
 color: aliceblue;
 font-family:Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(230, 0, 0);
  height: 100%;
  width: 100%;
  max-width: 1330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}