.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-top{
    background-color: aqua;
    max-width: 1140px;
}
.header-center{
    background-color: blueviolet;
    max-width: 1140px;
}
.header-menu{
    background-color: brown;
    max-width: 1140px;
}
.header-botton{
    background-color: chocolate;
    max-width: 1140px;
}